<div class="container" [ngStyle]="{'top': configs.position?.top, 'bottom': configs.position?.bottom, 'right': configs.position?.right, 'left': configs.position?.left}">
    <div *ngIf="isPopupVisible">
        <mat-card class="card-wrapper">
            <mat-card-header class="header-wrapper">
                <button mat-icon-button aria-label="Close demo" class="close-btn" *ngIf="!actualStep || actualStep.id !== configs.steps.length">
                    <mat-icon>close</mat-icon>
                </button>

                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>{{description}}</mat-card-subtitle>
            </mat-card-header>

            <!-- <mat-card-content *ngIf="actualStep !== null">
                <p>{{actualStep.id}}/{{configs.steps.length}}</p>
            </mat-card-content> -->

            <mat-card-actions class="actions">
                <p *ngIf="actualStep !== null">{{actualStep.id}}/{{configs.steps.length}}</p>
                <div class="btn-wrapper" [ngStyle]="{'justify-content': actualStep && actualStep.id === configs.steps.length ? 'flex-end': 'space-between'}">
                    <button mat-raised-button (click)="skipDemo()" *ngIf="!actualStep || actualStep.id !== configs.steps.length">SKIP</button>
                    <button mat-raised-button color="primary" (click)="nextStep()" *ngIf="!actualStep || actualStep.id !== configs.steps.length">NEXT</button>
                    <button mat-raised-button color="primary" class="done-btn" (click)="skipDemo()" *ngIf="actualStep && actualStep.id === configs.steps.length">DONE</button>
                </div>

            </mat-card-actions>
        </mat-card>
    </div>

    <button mat-fab color="primary" aria-label="Help demo" class="demo-btn" (click)="isPopupVisible = !isPopupVisible">
        <img src="assets/images/help.png" alt="Help" width="32">
    </button>

</div>

<!--This the element highlighter, we get the co-ordinates from the current element to set the position attributes-->
<!--<div style="position:absolute; top:0px; left:0px; z-index:9999;pointer-events: none">-->
<!--    <svg *ngIf="pointSet" width="8000" height="600">-->
<!--        <rect [attr.x]="pointSet.x - 4" [attr.y]="pointSet.y - 4" [attr.width]="pointSet.width + 8" [attr.height]="pointSet.height + 8"-->
<!--              style="outline:lime;fill:none;stroke-width:3;stroke:rgb(0,255,0)" />-->
<!--    </svg>-->
<!--</div>-->
