.container {
    position: absolute;

    .demo-btn {
        float: right;
        margin-top: 8px;
    }

    .card-wrapper {
        width: 320px;
        height: 180px;
        background-color: rgba(0, 0, 0, 0.04);
        justify-content: space-between;

        .actions {
            justify-content: space-between;
            padding: 8px 16px;
        }
    }
}